
  @import url('https://fonts.googleapis.com/css2?family=Borel&family=Josefin+Sans:wght@200;400&family=Poppins:wght@400;500;600;700&family=Roboto+Mono&display=swap');


*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body{
  font-weight:700;
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  color: #333;

}