.hContainer{
    position: relative;
    top:0;
    left:0;
    right:0;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #008ccf;
    font-size: 1.6em;

}

.moduleContainer{
 
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width:100%;
}

.headerContainer{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
}

.headerCol1{
    display:flex;
    flex-direction: row;
    align-items: center;
    grid-column: 1/-2;
    
}

.logoModule{
    display: flex;
    align-items: center;
    fill: #008ccf;
    transition-duration: .25s;
    transition-property: fill;
    width:25%;
}

.logo{
    display: block;
    width: 2.5em;
    height: auto;
}

.logoName{
    margin-left: 0.3em;
    width: 10em;
    height: auto;
}

.Nuel{
    color: orange;
}

.headerCol2{
    display: flex;
    flex-direction: row;
    width: 75%;
}

.headerMenu{
    order: 3;
    margin-left: auto;
}

.navMenu{
    font-weight: 400;
    font-size: .9em;
}

.menuList{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
   
}

.menuItem{
    margin: 0 0.4em 0 0;
    padding: 0;
}
.menuItem:last-of-type{
    margin-right: 0;
}

.menuLink{
      position: relative;
    display: block;
    padding: .4em .4em;
    text-decoration: none;
    font-weight: 700;
     color: #008ccf;
     font-size: 1.4em;
     border-radius:15px;
     
}

.menuLinkButton{
    padding: 0.4em 1em;
    font-weight: 700;
    background: #008ccf;
    color: #fff!important;
}

.menuLink :visited{
    color: #008ccf;

}
.menuLink:hover{
    color: orange;
}
/* .menuLink:hover:after{
    visibility: visible!important;
    transform: scaleX(1);
}

menuLink:after{
    content: "";
    visibility: hidden;
    position: absolute;
    left: .6em;
    right: .6em;
    bottom: 0;
    height: .12em;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-duration: .2s;
    transition-property: transform
} */